.horizon {
  background-color: #1c1d1e;
}

body {
  background-color: #1c1d1e;
  color: white;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar-button {
  border: 1px solid white;
  padding: 10px;
  background-color: #1c1d1e;
  color: white;
  width: 139px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text-h1 {
  font-size: 80px;
  text-align: center;
}
.home-text-p {
  font-size: 20px;
  text-align: center;
}

.home-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.left-button {
  background-color: #4452fe;
  color: white;
  border: none;
  padding: 20px;
}

.right-button {
  background-color: #1c1d1e;
  color: white;
  border: none;
  padding: 20px;
  border: solid 1px white;
}

.home-img-container {
  align-items: center;
  align-self: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.home-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  display: block;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.feature-container {
  text-align: center;
}

.feature-text-h2 {
  font-size: 50px;
}

.feature-text-p {
  font-size: 20px;
}

.feature-container-bottom {
  display: flex;
  flex-direction: row;
}

.feature-bottom-right {
  display: flex;
  flex-direction: column;
}

.feature-bottom-left {
  display: flex;
  flex-wrap: wrap;

  height: auto;
  margin: 0 auto;
}

.feature-bottom-left-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents-top {
  text-align: center;
}

.contents-text-h2 {
  font-size: 50px;
}
.content-text-p {
  font-size: 20px;
}

.contents-bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  flex-grow: 1;
}

.contents-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  gap: 10px;
  flex-grow: 1;
}

.contents-text-h3 {
  text-align: center;
}

.contents-button {
  background-color: #4452fe;
  padding: 10px 30px;
  color: white;
  border: none;
}

.contents-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  gap: 10px;
  flex-grow: 1;
}

.contents-bottom-right-button {
  background-color: #4452fe;
  padding: 5px 10px;
  color: white;
  border: none;
}

.omega {
  text-align: center;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
}

.gallery-text {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.gallery-h3 {
  font-size: 50px;
}

.gallery-p {
  font-size: 20px;
}
.gallery-container-image1 {
  display: flex;
  padding: 15px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
}

.gallery-container-image1 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.gallery-container-image2 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.imgtop {
  height: 285px;
  width: 225px;
  border-radius: 10px;
}

.gallery-container-image2 {
  display: flex;
  padding: 15px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.gamma {
  width: 390px;
  height: 285px;
  border-radius: 10px;
}

.theta {
  width: 225px;
  height: 285px;
  border-radius: 10px;
}

.alpha {
  width: 400px;
  height: 285px;
  border-radius: 10px;
}

.gallery-container-button {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  background-color: #1c1d1e;
}

.partners-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.partners-section img {
  max-width: 100%;
  height: auto;
  display: block;
}
.partners-text {
  text-align: center;
}

.partners-h3 {
  font-size: 50px;
}

.partners-p {
  font-size: 20px;
}

.partners-button {
  padding: 10px 20px;
  background-color: #1c1d1e;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testimonial-section-article1 {
  display: flex;
  gap: 20px;
}

.testimonial-section-article2 {
  display: flex;
  gap: 20px;
}

.testimonial-card {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.testimonial-section-text {
  text-align: center;
  font-size: 30px;
}

.nexus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nexus-left {
  display: flex;
  flex-direction: column;
}

.nexus-left-text {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  align-content: center;
}

.nexus-right img {
  max-width: 100%;
  height: auto;
  display: block;
}
.nexus-button {
  padding: 10px 30px;
  border: 1px;
  color: white;
  background-color: #4452fe;
}

.nexus-left-buttons {
  align-self: center;
}
.footer-container {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
  flex-wrap: wrap   ;

  gap: 20px;
}

.footlist {
  display: flex;
  list-style: none;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

}

.footer-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.location-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-mobile {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-section {
  padding: 50px;
}



/* media queries */

@media screen and (max-width: 320px) {
  .navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .feature-container-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .feature-bottom-left-image {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}

@media screen and (max-width:520px) {
  .gallery-container-image2{
    display: none;
  }
}
@media screen and (max-width:450px) {
  .contents-bottom-left img,
  .contents-bottom-right img{
    height: auto ;
    width: 100%;
  }
  
}